<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Royal Estates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <h2>My estates</h2>
    
    <ion-card *ngIf="favoriteEstates.length == 0">
      <ion-card-header>
          No Saved Estates
      </ion-card-header>
      <ion-card-content>
         To save an estate, select a location, then you can save estates from thier estate overview page.
        <button ion-button (click)='goToLocationsPage()' full>
            <ion-icon name="search"></ion-icon>
            Find a location
        </button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="favoriteEstates.length > 0">
        <ion-card-header>
            Saved Estates
        </ion-card-header>
        <ion-card-content>
            <ion-list *ngIf="favoriteEstates.length > 0">
              <ion-item *ngFor="let estate of favoriteEstates" >
                  <ion-thumbnail item-start>
                    <img src={{estate.estate.image}}>
                  </ion-thumbnail>
                  <h2>Ref No.{{estate.estate.refNumber}}</h2>
                  <p>{{estate.estate.type}}, {{estate.estate.bedrooms}} Bedrooms</p>
                  <p>{{getLocation(estate.estate)}}, {{estate.estate.region}}</p>
                  <button ion-button clear item-end (click)="favoriteTapped($event, estate.estate)">View</button>
              </ion-item>
            </ion-list>
            <p>To save more estates, select a location, then you can save estates from thier estate overview page.</p>
          <button ion-button (click)='goToLocationsPage()' full>
              <ion-icon name="search"></ion-icon>
            Find a location</button>
        </ion-card-content>
      </ion-card>
  <!--   <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
